<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
<body>
    <h1>New Baked Good</h1>
    <form action="/bakedgoods" method="POST">
    Name: <input type="text" name="name">
    <br>
    Price: <input type="text" name="price">
    <br>
    Image: <input type="file" name="image">
    <br>
    <input type="submit" value="create baked good">
    </form>
</body>
</html>